<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Valoració medica</h1>
        <div class="buttons-container"> 
            <button onclick="location.href='/valoracion_urgencias'" class="green-button">Valoració Urgències</button>
            <button onclick="location.href='/valoracion_nml_guardia'" class="yellow-button">Valoració NML Guàrdia</button>
        </div>
        <a href="/" class="red-button">Volver</a>
    </div>
</body>
</html>

