<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valoració NML Guàrdia</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Valoració NML Guàrdia</h1>
        <div class="buttons-container">
            <button onclick="location.href='/dx_concret_no_pneumonia'" class="blue-button">Dx concret ≠ Pneumonia</button>
            <button onclick="location.href='/dx_concret_pneumonia'" class="green-button">Dx concret Pneumonia</button>
            <button onclick="location.href='/dx_no_concret'" class="yellow-button">Dx NO concret</button>
        </div>
        <a href="/about" class="red-button">Volver</a>
    </div>
</body>
</html>
